@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

// color palette
$white: #ffffff;
$cyan: #57b3fe;
$lightCyan: #35d3ff;
$lightPurple: #a963fb;
$green: #00a077;
$dark: #0d0d0d;
$black: #3b3e43;
$grey: #595e64;
$fs-xxs: 0.75rem;
$fs-xs: 0.875rem;
$fs-sm: 1rem;
$fs-md: 1.25rem;
$fs-lg: 1.375rem;
$fs-xl: 3rem;
$fs-xxl: 4.25rem;

$breakpoints-up: (
	"medium": "640px",
	"large": "1024px",
	"xlarge": "1400px",
);

$breakpoints-down: (
	"small": "639px",
	"medium": "1023px",
	"large": "1399px",
);

@mixin breakpoint-up($size) {
	@media (min-width: map-get($breakpoints-up,$size )) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down,$size )) {
		@content;
	}
}



html {
	box-sizing: border-box;
	font-size: 16px;
	@include breakpoint-down(medium) {
		font-size: 12px;
	}
	@include breakpoint-down(small) {
		font-size: 10px;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: $fs-sm;
	line-height: 1.3;
	font-weight: 400;
	font-family: "DM Sans", sans-serif;
	// @include breakpoint-down(large) {
	// 	font-size: $fs-xs;
	// }
}

img {
	width: 100%;
}

h1,
h2,
h3,
h4,
p {
	margin-top: 0px;
}

// flex box
.flex {
	display: flex;
	&-jc-sb {
		justify-content: space-between;
	}
	&-jc-c {
		justify-content: center;
	}
	&-ac-c {
		align-content: center;
	}
	&-ai-c {
		align-items: center;
	}
}

.hide-for-mobile {
	@include breakpoint-down(small) {
		display: none;
	}
}

.hide-for-pad {
	@include breakpoint-down(medium) {
		display: none !important;
	}
}

.hide-for-desktop {
	@include breakpoint-up(large) {
		display: none !important;
	}
}

.cta-btn {
	display: inline-block;
	text-decoration: none;
	font-size: $fs-xs;
	padding: 1.35rem 3.125rem;
	text-transform: uppercase;
	color: $cyan;
	background: $white;
	border-radius: 50px;
	font-weight: 600;
	letter-spacing: 0.02em;
}

.container {
	max-width: 72.75rem;
	margin: 0 auto;

	&--pall {
		padding-top: 2.25rem;
		padding-bottom: 2.25rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		@include breakpoint-up(large) {
			padding-top: 7rem;
			padding-bottom: 7rem;
		}
	}

	&--py {
		padding-top: 4.375rem;
		padding-bottom: 4.375rem;
		@include breakpoint-up(large) {
			padding-top: 7rem;
			padding-bottom: 7rem;
		}
	}

	&--px {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	&--pt {
		padding-top: 2.25rem;
		@include breakpoint-up(large) {
			padding-top: 6rem;
		}
	}

	&--pr {
		padding-right: 1.5rem;
	}

	&--pb {
		padding-bottom: 2.25rem;
		@include breakpoint-up(large) {
			padding-bottom: 6rem;
		}
	}

	&--pl {
		padding-left: 1.5rem;
	}
}

.section-tag {
	font-size: $fs-xs;
	font-weight: 500;
	margin-bottom: 1.5rem;
	letter-spacing: 0.15em;
	opacity: 50%;
	color: $green;
	text-transform: uppercase;
}

.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
	.nav-bar {
		padding: 2rem 1rem;
		@include breakpoint-up(large) {
			padding: 2rem 3.75rem;
		}
	}
	.brand-logo svg {
		width: 16.1875rem;
		height: 3.8125rem;
	}
	&__links {
		a {
			font-size: $fs-sm;
			color: $white;
			text-decoration: none;
			font-weight: 500;
			&:not(:last-child) {
				margin-right: 2.125rem;
			}
		}
	}
}

.footer {
	padding: 5.25rem 0 2.1875rem;
	background-color: $dark;
	&__top {
		display: grid;
		grid-template-columns: 2fr 8fr 2fr;
		align-items: center;
		grid-gap: 2rem;
		@include breakpoint-down(medium) {
			justify-items: center;
			grid-template-columns: repeat(1, 1fr);
		}
		.nav-links {
			text-align: center;
			a {
				font-weight: 400;
				color: $white;
				text-decoration: none;
				opacity: 0.8;
				&:hover,
				&:focus {
					opacity: 1;
				}
			}
			a:not(:last-child) {
				margin-right: 2rem;
			}
		}
		.social {
			text-align: right;
			a {
				&:hover,
				&:focus {
					svg path {
						fill-opacity: 1;
					}
				}
				&:not(:last-child) {
					margin-right: 1.5rem;
				}
			}
		}
	}
	hr {
		margin: 2rem 0;
		opacity: 0.6;
		border-width: 0.5px;
	}
	&__bottom {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		@include breakpoint-down(small) {
			justify-items: center;
			grid-template-columns: repeat(1, 1fr);
		}
		.copy-rights {
			font-weight: 400;
			color: $white;
			opacity: 0.8;
		}
		.nav-links {
			text-align: right;
			a {
				font-weight: 400;
				color: $white;
				text-decoration: none;
				opacity: 0.8;
				&:hover,
				&:focus {
					opacity: 1;
				}
			}
			a:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}
}

.hero {
	// background-image: url("../public/images/hero-bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	@media (max-width: 800px) {
		background-size: 150%;
	}
	@media (max-width: 500px) {
		background-size: 68rem;
	}
	&__text {
		text-align: center;
		color: $white;
		@include breakpoint-down(medium) {
			margin-top: 4rem;
		}
		h1 {
			font-size: $fs-xxl;
			font-weight: 400;
			margin-bottom: 2rem;
			@include breakpoint-down(medium) {
				font-size: 4rem;
			}
		}
		p {
			font-size: $fs-md;
			font-weight: 400;
			margin-bottom: 1.5rem;
			opacity: 0.8;
		}
	}

	&__image {
		max-width: 77.1875rem;
		margin: 0 auto;
	}
}

.features {
	background-image: url("../public/images/features-bg.png");
	background-repeat: no-repeat;
	background-size: 120%;
	background-position: center top;
	@include breakpoint-down(medium) {
		background-position: center;
	}
	&__text {
		max-width: 33rem;
		h2 {
			font-size: $fs-xl;
			font-weight: 500;
			color: $black;
		}
	}
	.feature-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, auto);
		grid-gap: 1.875rem;
		@include breakpoint-down(medium) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include breakpoint-down(small) {
			grid-template-columns: repeat(1, 1fr);
		}
		.feature-item {
			padding: 2.5rem;
			background-color: $white;
			box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
			border-radius: 15px;
      &__icon{
        max-width: 50px;
      }
			&__title {
				font-size: $fs-lg;
				color: $black;
				font-weight: 600;
				margin-bottom: 1.4rem;
			}
			&__descrp {
				font-size: $fs-sm;
				font-weight: 300;
				line-height: 1.4;
				color: $grey;
			}
		}
	}
}

.process {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&__text {
		text-align: center;
		color: $white;
		max-width: 44.875rem;
		margin: 0 auto;
		.section-tag {
			color: $white;
			opacity: 0.8;
		}
		h2 {
			font-size: $fs-xl;
			font-weight: 400;
			margin-bottom: 1rem;
		}
		p {
			font-size: $fs-md;
			font-weight: 300;
			margin-bottom: 1.5rem;
			opacity: 0.8;
		}
	}
	.process-item {
		padding: 1.5rem 2rem 1.5rem 1rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, auto);
		grid-gap: 2.75rem;
		align-items: center;
		background-color: $white;
		box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
		border-radius: 15px;
		margin-bottom: 2.875rem;
		@include breakpoint-down(small) {
			grid-template-columns: repeat(1, 1fr);
		}
		&__content {
			&__icon {
				margin-bottom: 1.3625rem;
        max-width: 50px;
			}
			&__title {
				font-size: $fs-lg;
				color: $black;
				font-weight: 600;
				margin-bottom: 1rem;
			}
			&__descrp {
				font-size: $fs-sm;
				font-weight: 300;
				line-height: 1.4;
				color: $grey;
			}
		}
	}
}

.clients {
	&__text {
		text-align: center;
		max-width: 56.0625rem;
		margin: 0 auto;
		h2 {
			font-size: $fs-xl;
			font-weight: 400;
			margin-bottom: 3rem;
		}
	}
	&__logo {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(1, auto);
		grid-gap: 2rem 7rem;
		@include breakpoint-down(small) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__footer {
		max-width: 30rem;
		text-align: center;
		margin: auto;
		p {
			font-size: $fs-md;
			margin: 2rem 0 0 0;
		}
	}
}

.start-with {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&__row {
		display: grid;
		grid-template-columns: 3fr 5fr;
		grid-gap: 4rem 6rem;
		align-items: center;
		@include breakpoint-down(small) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__text {
		color: $white;
		.section-tag {
			color: $white;
			opacity: 0.8;
		}
		h2 {
			font-size: $fs-xl;
			font-weight: 400;
			margin-bottom: 1rem;
		}
		p {
			font-size: $fs-md;
			font-weight: 300;
			margin-bottom: 1.5rem;
			opacity: 1;
		}
	}
}
